.env
/.env
/static/posts/
static/posts
/static/users/
static/users
go.sum
go.mod
./static/uploads/
/static/uploads
static/uploads

./static/samples/
/static/samples
static/samples

./bot/
/bot/

./workers/porn
workers/porn
workers/executor.go
./workers/executor.go
./workers/temp
workers/temp
./build
build
./.gocache
.gocache

./seeders/taxonomy/porn.go
./seeders/taxonomy
seeders/taxonomy
seeders/taxonomy/porn.go