.env
/.env
/static/posts/
static/posts
/static/users/
static/users
go.sum
go.mod
./static/uploads/
/static/uploads
static/uploads

./static/samples/
/static/samples
static/samples

./bot/
/bot/

workers/temp
./build
build
./.gocache
.gocache
/core

./seeders/taxonomy
seeders/taxonomy
