DATABASE_URL="host=0.0.0.0 port=5432 user=postgres password=password dbname=databasename sslmode=disable"
DB_CONNECT_TIMEOUT="3s"
DB_MAX_OPEN_CONNS="50"
DB_MAX_IDLE_CONNS="10"
SITE_URI="https://api.dating.app"
APP_BASE_URL="http://localhost:3001"
RIG_JWT_SECRET="hCaBhUx..CINk2R"
USER_JWT_SECRET="a8HxBa74_.CINk2R"
STREAM_FOLDER="./.streams"

DEBUG_MODE=true
CAPTCHA_SECRET_KEY=""
GOOGLE_API_KEY=""
GOOGLE_GENAI_MODEL="gemini-2.5-flash"
MCP_ALLOWED_ORIGINS="http://localhost:3001"
# GOOGLE_GENAI_USE_VERTEXAI=true
# GOOGLE_CLOUD_PROJECT="your-project-id"
# GOOGLE_CLOUD_LOCATION="us-central1"

API_URL="http://localhost:1337"
WSS_URL="http://localhost:3002"

TELEGRAM_BOT_TOKEN=""
TELEGRAM_WEBHOOK_URL="https://api.example.com/webhook/bot/telegram/"
TELEGRAM_WEBHOOK_SECRET=""


PORT=":3001"
SOCKET_PORT=":3002"
AUTH_TOKEN="Bareer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InNlbGltQHNlbGltLmNvbSIsImV4cCI6MTY5MzYwNzQ5OCwidX>"
